<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584620040270-0cipgq2gsrh8qfiv3m34mvth8o70dvp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584620040270-0cipgq2gsrh8qfiv3m34mvth8o70dvp9</string>
	<key>API_KEY</key>
	<string>AIzaSyCU87Z0zIpZJ1-1QTkG1GCl1w7fvBqbP1s</string>
	<key>GCM_SENDER_ID</key>
	<string>584620040270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter3FirebaseFirestore</string>
	<key>PROJECT_ID</key>
	<string>album-shelf-ebe19</string>
	<key>STORAGE_BUCKET</key>
	<string>album-shelf-ebe19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584620040270:ios:c128708f6e215f50e0e31f</string>
</dict>
</plist>